################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test
/packages
/Test/bin
/Test/obj/Debug
